*.exe
*.pt
*.onnx
*.pyc
*.pth
*.index
*.mp3
*.flac
*.ogg
*.m4a
*.bin
*.wav
*.txt
*.zip
*.png
*.safetensors

audio
assets/audios
assets/datasets
assets/features
logs
!logs/voice_models/
rvc/models
env
venv
.venv
.DS_Store
*.savmaria-20.pth